name: Test package
on: [push]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      # checkout
      - uses: actions/checkout@v6

      # setup node
      - uses: actions/setup-node@v6.1.0
        with:
          node-version: '24'
          registry-url: 'https://registry.npmjs.org'

      # install dependencies
      - name: Install dependencies
        run: yarn install --frozen-lockfile

      # test
      - name: Run tests
        run: yarn run test
